@using Microsoft.AspNetCore.Identity;
@using FactorioWebInterface.Data;
@inject UserManager<ApplicationUser> userManger;

@{
    var user = await userManger.GetUserAsync(User);
}

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-page="/Index" class="navbar-brand">Redmew</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (user != null)
                {
                    <li><a asp-page="/Admin/Servers">Servers</a></li>
                    <li><a asp-page="/Admin/Regulars">Regulars</a></li>
                    <li><a asp-page="/Admin/Donators">Donators</a></li>
                    <li><a asp-page="/Admin/Bans">Bans</a></li>
                    <li><a asp-page="/Admin/Admins">Admins</a></li>
                    <li><a asp-page="/Admin/ScenarioData">Scenario Data</a></li>
                }
            </ul>
            <div class="navbar-right">
                @{if (user == null)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a asp-page="/Admin/SignIn" title="Sign In">Sign In</a></li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li><a asp-page="/Admin/Account" title="Account">@user.UserName</a></li>
                            <li class="nav-item"><a asp-page="/Admin/SignOut" title="Sign out">Sign out</a></li>
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
</nav>