@model FileTableModel
<h3 class="title is-3">@Model.Name</h3>

<table id="@Model.Id" class="table is-bordered is-striped is-hoverable is-fullwidth">
    <thead>
        <tr>
            <th><input type="checkbox" /> Select</th>
            <th>Name</th>
            <th>Created Time</th>
            <th>Modified Time</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
