@model FileTableModel
<h2>@Model.Name</h2>

<div class="table-responsive">
    <table id="@Model.Id" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th><input type="checkbox" /> Select</th>
                <th>Name</th>
                <th>Created Time</th>
                <th>Modified Time</th>
                <th>Size</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>