@page
@model FactorioWebInterface.Pages.Admin.AdminsModel
@{
    ViewData["Title"] = "In Game Admins";
}

<div class="container">

    <h2>In Game Admins</h2>

    <p>Admins added or removed from this page will only take affect when a server is restarted.</p>
    <p>Admins issued with /promote or /demote in game or at the server console will <b>not</b> make changes to this list or be synced with other servers.</p>

    <h2>Add Admins</h2>
    <form method="post">
        <div class="form-group">
            <label asp-for="Input.Admins">Add in game admins (comma seperated list): </label>
            <textarea asp-for="Input.Admins"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Add</button>
        </div>
    </form>

    <h2>Admin list</h2>
    <div class="table-responsive">
        <table id="adminsTable" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model.Admins)
                {
                    <tr>
                        <td>@a.Name</td>
                        <td>
                            <form method="post">
                                <input hidden name="name" value="@a.Name" />
                                <button type="submit" asp-page-handler="RemoveAdmin" class="btn btn-danger">Remove</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @section Scripts{
        <script type="text/javascript" src="~/js/admins.js"></script>
    }

</div>

