@page
@model FactorioWebInterface.Pages.Admin.AdminsModel
@{
    ViewData["Title"] = "In Game Admins";
}

<div class="container">

    <h2>In Game Admins</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model.Admins)
            {
                <tr>
                    <td>@r.Name</td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Add Admins</h2>

    <form method="post">
        <div class="form-group">
            <label asp-for="Input.Admins">Add in game admins (comma seperated list): </label>
            <textarea asp-for="Input.Admins"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Add</button>
        </div>
    </form>

</div>

