@page
@model FactorioWebInterface.Pages.Admin.PlaguesPlaygroundModel
@{
    ViewData["Title"] = "Plagues Playground";
}

<section class="container">

    <h2 class="title is-2">Plagues Playground</h2>

    <div class="columns is-centered">

        <div class="column box">

            <div class="box">

                <div class="field">
                    <label for="scriptPath" class="label">Script Path</label>
                    <div class="control">
                        <input id="scriptPath" type="text" class="input" required value="@Model.FilePath" />
                    </div>
                </div>

                <div class="field">
                    <label class="label">Arguments</label>
                    <div class="control is-expanded">
                        <ol id="argumentsList" style="margin:0rem 1rem;">
                            <li>
                                Repository: <input type="text" class="input" value="@Model.UserName" />
                            </li>
                            <li>
                                Branch: <input type="text" class="input" value="branch_name" />
                            </li>
                            <li>
                                Map: <input type="text" class="input" value="map_name" />
                            </li>
                            <li>
                                Debug: <input type="text" class="input" value="false" />
                            </li>
                            <li>
                                <input type="text" class="input" />
                            </li>
                        </ol>
                    </div>
                </div>

                <div>
                    <button id="startButton" class="button is-success">Run</button>
                    <button id="killButton" class="button is-danger">Kill</button>
                </div>

            </div>

            <div class="box">
                <div id="output" style="max-height: 600px; min-height: 600px; overflow-y: auto; padding: 5px;">

                </div>
            </div>

        </div>

    </div>

    @section Scripts{
        <environment include="Development">
            <script type="text/javascript" src="~/js/plaguesplayground.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script type="text/javascript" src="~/js/plaguesplayground.js"></script>
        </environment>
    }

</section>
