@page
@model FactorioWebInterface.Pages.Admin.RegularsModel
@{
    ViewData["Title"] = "Regulars";
}

<div class="container">

    <h2>Regulars</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Promoted by</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model.Regulars)
            {
                <tr>
                    <td>@r.Name</td>
                    <td>@r.Date</td>
                    <td>@r.PromotedBy</td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Add Regulars</h2>

    <form method="post">
        <div class="form-group">
            <label asp-for="Input.Regulars"></label>
            <textarea asp-for="Input.Regulars"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Add</button>
        </div>
    </form>

</div>