@page
@model FactorioWebInterface.Pages.Admin.ScenarioDataModel
@{
    ViewData["Title"] = "ScenarioData";
}

<div class="container is-fluid">

    <section class="container section">
        <h2 class="title is-2">Scenario Data</h2>
        <p>Select data set from dropdown.</p>
        <p>If you are viewing a dataset you will see updates happen live. Changes made here will be sent to running servers.</p>
        <p>You will need to refresh the data sets list to see new data sets if they are made.</p>
        <p>Click on a row to have the values filled into the form.</p>
        <p>If the new value is omitted the key is removed.</p>
    </section>

    <section class="container">
        <div class="columns is-centered box">

            <div class="column is-3">
                <label>Selected Data set:</label>
            </div>
            <div class="column is-3">
                <div class="select">
                    <select id="datasetsSelect"></select>
                </div>
            </div>
            <div class="column is-3">
                <button id="refreshDataSets" class="button is-link">Refresh data set list</button>
            </div>

        </div>
    </section>

    <section class="section container">
        <div class="columns is-centered">

            <form class="column is-8 box">
                <h3 class="title is-3">Update Data</h3>
                <hr />

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label for="dataSetInput" class="label">Data Set</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input id="dataSetInput" class="input" type="text" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label for="keyInput" class="label">Key</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <input id="keyInput" class="input" type="text" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <label for="valueInput" class="label">Value</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <textarea id="valueInput" class="textarea"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field is-horizontal">
                    <div class="field-label">
                        <!-- Left empty for spacing -->
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <div class="control">
                                <button id="updateButton" type="button" class="button is-link">Update</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </section>

    <section class="section columns is-centered">

        <div class="column is-10 is-full-tablet" style="height:900px; overflow:auto;">
            <table id="dataTable" class="table is-bordered is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th style="width:16.7%">Key</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </section>

    @section Scripts{
        <environment include="Development">
            <script type="text/javascript" src="~/js/scenarioData.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script type="text/javascript" src="~/js/scenarioData.js"></script>
        </environment>
    }

</div>
