@page

@model SigninModel

@{
    ViewData["Title"] = "Sign in";
}

<div class="container">

    <h2 class="title is-2">@ViewData["Title"]</h2>
    <div class="columns">
        <div class="column is-4">
            <section>
                <form method="post">
                    <h4 class="title is-4">Use a local account to sign in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="has-text-danger"></div>
                    <div class="field">
                        <label asp-for="Input.UserName" class="label"></label>
                        <div class="control">
                            <input asp-for="Input.UserName" class="input" />
                        </div>
                        <span asp-validation-for="Input.UserName" class="help is-danger"></span>
                    </div>
                    <div class="field">
                        <label asp-for="Input.Password" class="label"></label>
                        <div class="control">
                            <input asp-for="Input.Password" class="input" />
                        </div>
                        <span asp-validation-for="Input.Password" class="help is-danger"></span>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-link">Log in</button>
                        </div>
                    </div>
                </form>
            </section>
            <section>
                <form method="post" asp-page-handler="Discord">
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-link">Log in With Discord</button>
                        </div>
                    </div>
                </form>

            </section>
        </div>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }

</div>

