@page
@model LogOutModel
@{
    ViewData["Title"] = "Signed out";
}

<div class="container">

    <h2 class="title is-2">@ViewData["Title"]</h2>
    <p>
        You have successfully signed out.
    </p>

</div>

